*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}


h1 {
  display: inline-flex;
  width: 50vw;
  height: 150px;
  
}

#menubar {
  width: 100vw;
  background-color: slategray;
  color: darkblue;
  height: 40px;
  padding: 8px;
  display: flex;
  border: 10px solid #344966;
}

header {
  display:inline-flex;
  width: 100vw;
  height: 200px;
  background: #70798C;
  align-items: center;
  justify-content: center;
}

footer {
  width: 100vw;
  height: 75px;
  background-color: midnightblue;
  color: cornsilk;
  padding: 32px 8px;
  display: inline-flex;
  position: relative;
  bottom: 0;
  height: 75px;
}